<%= form_for @changeset, Routes.booking_path(@conn, :create), fn booking -> %>

  <div class="form-group">
    <%= label booking, :pickup_address, class: "control-label" %>
    <%= text_input booking, :pickup_address, id: "pickup_address", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label booking, :dropoff_address, class: "control-label" %>
    <%= text_input booking, :dropoff_address, id: "dropoff_address", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_button", class: "btn btn-primary" %>
  </div>

<% end %>
