<h2> Edit User</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.user_path(@conn, :update, @user) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
